# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Unit test / coverage reports
.tox/

# pyenv
.python-version

# Rope project settings
.ropeproject

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

.env

# IDE
.idea
.vscode
*.swp

postgres_volume
.terraform